.title-row {
    font-weight: bold;
    font-family: 'Karbon Semibold', sans-serif;
    color: #003479;
    font-size: 14px;
    text-transform: uppercase;
    max-height: 8px;
    display: flex;
    align-items: center;
    user-select: none;
    white-space: nowrap;
}

.padding-between-rows {
    height: 20px
}

.table-row-todo {
    background-color: white;
}

.cell-content {
    font-weight: bold;
    font-family: 'Karbon Regular', sans-serif;
    color: #003479;
    font-size: 32px;
    text-transform: capitalize;
    user-select: none;
}

