.flex-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.filter-content {
    background-color: #F4F4F4;
    width: 300px;
    min-width: 250px;
    max-height: 353px;
    overflow: auto;
    flex-shrink: 0;
    border-radius: 12px;
    padding: 18px;
}

.table-content {
    flex-grow: 1;
    min-width: 400px;
    max-width: 900px;
    background-color: #F4F4F4;
    overflow: auto;
    border-radius: 12px;
}

@media (max-width: 700px) {
    .filter-content {
        width: calc(100% - 5%);
        max-height: 20%;
        padding: 12px;
    }

    .table-content {
        max-height: 80%;
    }
}