.filters-container {
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 40px;
}

.inner-filters-container {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 20px;
}

.filters-title {
    font-weight: bold;
    font-family: 'Karbon Semibold', sans-serif;
    color: #003479;
    font-size: 32px;
    text-transform: uppercase;
    user-select: none;
}

.reset-filters-button {
    font-weight: bold;
    font-family: 'Karbon Regular', sans-serif;
    color: #003479;
    font-size: 18px;
    text-transform: capitalize;
    text-decoration: underline;
    padding: 2px;
    cursor: pointer;
    user-select: none;
}

@media (max-width: 700px) {
    .filters-container {
        flex-direction: column;
        max-height: 100%;
        align-items: center;
        gap: 2px
    }

    .inner-filters-container {
        flex-direction: row;
    }
}
