.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3fr 0.5fr;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.top-bar-container {
    background-color: #644C79;
    grid-row: 1;
}

.body-container {
    background-color: #FFFFFF;
    grid-row: 2;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-block: 41px;
    padding-inline: 20px;
    overflow: hidden;
    flex-wrap: nowrap;
}

.footer-container {
    background-color: #003479;
    grid-row: 3;
    padding: 12px;
}

@media (max-width: 700px) {
    .body-container{
        overflow: auto;
        flex-direction: column;
        height: 100%;
        padding: 0;
        gap: 2px;
    }
    .top-bar-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
